.contact-info ul {
    padding-top: 20px;
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.contact-modal-body {
    text-align: center;
}

.contact-social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 20px;
}

.contact-social li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

.contact-social li i {
    transition: 0.3s ease;
}

.contact-social li i:hover {
    transform: scale(1.5);
}

.facebook-icon {
    color: rgb(59, 89, 152);
}

.github-icon {
    color: white;
}

.twitter-icon {
    color: rgb(0, 172, 238);
}

.linkedin-icon {
    color: rgb(14, 118, 168);
}