* {
    box-sizing: border-box;
}

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    word-break: break-all;
}

h3 {
    display: flex;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

#backgroundVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}